<section class="apply-bro">
    <h2 class="apply-bro__header">Join Us !</h2>
    <div class="apply-bro__content">
        <div class="row">
            <div class="col col-xl-12">
                <h3 class="apply-bro__title">Would you like to work with us?</h3>
                <button
                    class="btn btn__apply-bro"
                    onclick="window.location = 'career/open-positions.html'"
                >
                    APPLY NOW
                </button>
            </div>
            <div class="col col-xl-12">
                <img
                    src="assets/img/apply-JoinUs.jpg"
                    alt=""
                    class="apply-bro__thumb"
                />
            </div>
        </div>
    </div>
</section>
