<section class="swiper-slide__title">
    <h1 class="swiper-slide__title-slogan">The Future of Solutions</h1>
    <h2 class="swiper-slide__title-content">
        Your Trusted IT Service Provider
    </h2>
    <p class="d-md-none">
        We offer world-class services and<br />
        deliver the highest level of customer satisfaction.
    </p>
    <h2 class="swiper-slide__title-content">
        Working Towards a Greener Planet
    </h2>
    <p class="d-md-none">
        In collaboration with our customers, <br />
        we cultivate a greener planet.
    </p>
    <h2 class="swiper-slide__title-content">
        Local Service with Global Perspective
    </h2>
    <p class="d-md-none">
        We transform integrated technologies and <br />
        strategic global networks into value for our customers.
    </p>
</section>
