<section class="special">
    <div class="special-intro">
        <img src="assets/img/special.jpg" alt="" class="special__thumb" />
        <div class="special__title">
            <div class="special__desc">
                <h2 class="special__desc-header">What makes us special</h2>
                <p>
                    Over
                    <span class="special__desc-big"> 20</span>
                    year<br />Rich history
                </p>
                <p>
                    <span class="special__desc-big">10,000</span>
                    <br />Monthly Repairs
                </p>
                <p>
                    <span class="special__desc-big">Global Major</span>
                    <br />Repair service provider
                </p>
                <p>
                    <span class="special__desc-big"
                        >Best Customer Experience Award</span
                    >
                </p>
            </div>
        </div>
    </div>
</section>
