<section class="video-content">
    <video
        class="video-content__show"
        autoplay=""
        muted=""
        loop=""
        src="assets/video/Pegatron Japan Inc.mp4"
    ></video>

    <div class="video-content__title">
        <h2 class="video-content__solution">We are "Solution Provider"</h2>

        <p>
            We provide flexible and reliable services that sincerely address the
            issues and requests of our customers by utilizing the know-how
            accumulated at our manufacturing sites around the world by our
            parent company, Pegatron Corporation , a leading global contract
            manufacturer of 3Cs industries.
        </p>
        <p class="d-md-none">
            We also recognize that improving customer experience (CX) is our
            most important management issue, and we have been creating value by
            responding flexibly and speedily to our customers' ever-changing
            needs.
        </p>
        <p class="d-md-none">
            We have received many awards from global major PC and smartphone
            maker.
        </p>
    </div>
</section>
