<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__row">
                <!-- Footer column 1 -->
                <div class="footer__col">
                    <h3 class="footer__heading">About</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="./company-info.html" class="footer__link"
                                >Corporate Profile</a
                            >
                        </li>
                        <li>
                            <a href="./about-history.html" class="footer__link"
                                >History</a
                            >
                        </li>
                        <li>
                            <a
                                href="./about-co-philosophy.html"
                                class="footer__link"
                            >
                                Corporate Philosophy
                            </a>
                        </li>
                        <li>
                            <a
                                href="./about-co-ethics.html"
                                class="footer__link"
                            >
                                Corporate Ethics
                            </a>
                        </li>
                        <li>
                            <a
                                href="./about-our-activities.html"
                                class="footer__link"
                                >Our Activities</a
                            >
                        </li>
                    </ul>
                </div>

                <!-- Footer column 2 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Services</h3>
                    <ul class="footer__list">
                        <li>
                            <a
                                href="./services-repair.html"
                                class="footer__link"
                                >Repair</a
                            >
                        </li>
                        <li>
                            <a
                                href="./service-kitting.html"
                                class="footer__link"
                                >Kitting</a
                            >
                        </li>
                        <li>
                            <a href="./service-LCM.html" class="footer__link"
                                >LCM Service</a
                            >
                        </li>
                        <li>
                            <a
                                href="./service-parts-supply.html"
                                class="footer__link"
                                >Parts Supply</a
                            >
                        </li>
                        <li>
                            <a
                                href="./service-refurbish.html"
                                class="footer__link"
                                >Refulbish</a
                            >
                        </li>
                    </ul>
                </div>

                <!-- Footer column 3 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Career</h3>
                    <ul class="footer__list">
                        <li>
                            <a
                                href="./career-our-advantage.html"
                                class="footer__link"
                                >Our Advantages</a
                            >
                        </li>
                        <li>
                            <a
                                href="./career-open-positions.html"
                                class="footer__link"
                                >Open Positions</a
                            >
                        </li>
                        <li>
                            <a
                                href="./career-co-culture.html"
                                class="footer__link"
                            >
                                Corporate Culture
                            </a>
                        </li>
                        <li>
                            <a
                                href="./career-welfare-pro.html"
                                class="footer__link"
                            >
                                Welfare Programme
                            </a>
                        </li>
                        <li>
                            <a
                                href="./career-relevant-data.html"
                                class="footer__link"
                                >Relevant Data</a
                            >
                        </li>
                    </ul>
                </div>

                <!-- Footer column 4 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Contact Us</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="./contact-us.html" class="footer__link">
                                <img
                                    src="../../../assets/icons/contact-us.png"
                                    alt=""
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Certificate item -->
            <div class="footer__certificate">
                <div class="footer__certificate-item">
                    <img
                        src="../../../assets/img/certificate/iso9001.png"
                        alt=""
                    />
                    <p>ISO 9001:2015</p>
                </div>
                <div class="footer__certificate-item">
                    <img
                        src="../../../assets/img/certificate/m-privacy-mark.png"
                        alt=""
                    />
                    <p>PRIVACY MARK</p>
                </div>
                <div class="footer__certificate-item">
                    <img
                        src="../../../assets/img/certificate/m-certificate-iso27001.png"
                        alt=""
                    />
                    <p>ISO/IEC 27001</p>
                </div>
            </div>
            <!-- footer bottom -->
            <div class="footer__bottom">
                <p class="footer__copyright">
                    ©2023 PEGATRON JAPAN Inc. All rights reserved.
                </p>
                <ul class="footer__bottom-list">
                    <li>
                        <a href="#!" class="footer__bottom-link">Sitemap</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__bottom-link"
                            >Privacy Policy</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="footer__bottom-link"
                            >Disclaimer information</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="footer__bottom-link"
                            >License for selling secondhand goods</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
