.banner {
    &-inner {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: rgba(232, 232, 232, 0.95);
        transition: top ease 0.3s;
    }

    &-box {
        display: flex;
        align-items: center;
        padding: 15px 8px;
        background-color: transparent;
        margin-bottom: 0;
    }

    &-box > li + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }

    &-box a {
        color: var(--color-basic-black);
        font-size: 1.6rem;
    }

    &__img {
        width: 100%;
        height: 400px;
    }

    &__item {
    }
}

.hideUp .banner-box {
    top: -50px;
}
