.banner {
    &-box > li + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
    }

    &__img {
        width: 100%;
        height: 500px;
    }

    &__item {
    }
}
