.box-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 5px rgba(110, 108, 108, 0.5);
    height: 300px;

    &__welfare {
    }

    &__icon {
    }

    &__title {
    }

    &__detail {
        text-align: left;
        padding-left: 10%;
        line-height: 1.9;
    }
}
