.box-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 5px rgba(110, 108, 108, 0.5);
    height: auto;
    &__welfare {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__icon {
    }

    &__title {
    }

    &__detail {
    }
}
