@use "../abstracts";
.box-content {
    margin-bottom: 30px;
    gap: 10px;

    &__welfare {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        box-shadow: 0 0 5px rgba(110, 108, 108, 0.5);
        height: 370px;

        @include abstracts.screen(xxl) {
            height: auto;
        }

        @include abstracts.screen(md) {
            margin: 20px auto;
            height: auto;
        }
    }

    &__icon {
        margin-top: 10px;
    }

    &__title {
        white-space: nowrap;
        font-size: 2rem;
    }

    &__detail {
        text-align: left;
        padding: 0 5%;
        line-height: 1.5;
    }
}
