.btn-contact {
    width: 20%;
    height: 40px;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 5px;
    border: 1px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    font-size: x-large;
    margin: 30px 0;
}
