@use "../abstracts";
.btn {
    white-space: nowrap;
    overflow: hidden;

    &__service-item {
        width: 10%;
        min-width: 110px;
        height: 35px;
        float: right;
        // margin-right: 210px;
        color: #fff;
        background-color: var(--color-primary);
        border-radius: 10px;
        border: 1px solid #ffffff;

        @include abstracts.screen(xl) {
            margin-top: 7px;
        }

        &:hover {
            background-color: #92805a;
        }
    }

    &__apply-bro {
        width: 30%;
        height: 70px;
        color: #fff;
        background-color: var(--color-primary);
        border-radius: 10px;
        border: 1px solid #ffffff;
        font-size: x-large;
        margin: 150px;

        @include abstracts.screen(md) {
            width: 50%;
            height: 70px;

            margin: 150px 100px;
        }

        &:hover {
            background-color: #92805a;
        }
    }

    &-contact {
        width: 20%;
        height: 50px;
        color: #fff;
        background-color: var(--color-primary);
        border-radius: 10px;
        border: 1px solid #ffffff;
        font-size: inherit;
        margin: 30px 40%;

        @include abstracts.screen(md) {
            width: 40%;
            margin: 30px 30%;
        }
    }

    &__summary {
        width: 120px;
        min-width: 20%;
        border: 1px solid #d4d4d4;
        color: var(--color-basic-black);
        background: #f0f0f0;
        border-radius: 5px;
        height: 30px;
        font-size: large;
        margin-top: auto;
        place-self: flex-end;
    }

    &__read-more {
        position: absolute;
        bottom: 15px;
        right: 0;
        border: 1px solid;
        width: 10%;
        min-width: 100px;
        min-height: 25px;
        border-radius: 5px;
        background: var(--color-basic-bg);
        font-size: medium;
    }

    &__job-detail {
        display: block;
        background: #337bb9;
        color: #ffffff;
        width: 40%;
        min-width: 25%;
        height: 50px;
        font-size: large;
        border-radius: 5px;
        margin: -60px auto;

        @include abstracts.screen(md) {
            width: 60%;
        }
    }

    &__back {
        display: block;
        background: #d4d3d3;
        color: var(--color-basic-black);
        width: 40%;
        min-width: 25%;
        height: 50px;
        font-size: large;
        border-radius: 5px;
        margin: 90px auto;
        margin-bottom: 50px;

        @include abstracts.screen(md) {
            width: 60%;
        }
    }

    &__contact-us {
        margin: 25px auto;
        width: 40%;
    }
}
