.btn {
    &-contact {
        width: 20%;
        height: 50px;
        color: #fff;
        background-color: var(--color-primary);
        border-radius: 10px;
        border: 1px solid #ffffff;
        white-space: nowrap;
        overflow: hidden;
        font-size: inherit;
        margin: 30px 40%;
    }

    &__summary {
        width: 20%;
        min-width: 100px;
        border: 1px solid #d4d4d4;
        color: var(--color-basic-black);
        background: #f0f0f0;
        border-radius: 5px;
        height: 30px;
        font-size: large;
    }

    &__read-more {
        position: absolute;
        bottom: 20px;
        right: 0;
        color: var(--text-color);
        border: 1px solid;
        width: 10%;
        min-width: 100px;
        min-height: 25px;
        border-radius: 5px;
        white-space: nowrap;
        overflow: hidden;
        background: var(--color-basic-bg);
        font-size: large;
    }
}
