.btn {
    &-contact {
        width: 20%;
        height: 50px;
        color: #fff;
        background-color: var(--color-primary);
        border-radius: 5px;
        border: 1px solid #ffffff;
        white-space: nowrap;
        overflow: hidden;
        font-size: inherit;
        margin: 30px 40%;
    }
}
