.contact-us {
    &__row {
        margin: 0 150px;
    }

    &__content p {
        text-align: justify;
        font-weight: normal;
    }

    &__form {
        width: 70%;
        padding-top: 20px;
        margin: 0 auto;
    }
}
