@use "../abstracts";
.content {
    margin-bottom: -70px;

    &-title {
        margin-bottom: 20px;
        margin-left: 15px;
        color: var(--text-color);
        font-weight: bold;
    }

    &__detail-space {
        margin-bottom: 15px;
    }

    & p {
        font-size: 1.7rem;
        line-height: 1.5;
        // text-align: justify;
        margin-left: 30px;

        @include abstracts.screen(md) {
            margin: 0;
        }
    }

    &-table {
        width: 70%;
        margin-top: 30px;
        padding: 5px 100px;
        line-height: 4.2rem;

        & a {
            text-decoration: underline;
        }
    }

    &__img {
        display: block;
        max-width: 100%;
        // width: 650px;
        margin: 0 auto;
    }

    &-kitting__late {
        margin-bottom: 0px;
        margin-left: -30px;
    }

    &-refurbish {
        margin-top: -60px;
    }
}
