.environment {
    &__group {
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        /* min-width: 180px; */
        height: 250px;
        border: 1px solid rgb(199, 195, 195);
        text-align: center;
        position: relative;
    }
}
