.position {
    align-items: center;
    border-top: 1px solid var(--line_color);
    padding-top: 20px;
    padding-bottom: 20px;

    &-item {
        &__img {
            width: 270px;
            height: 150px;
            box-shadow: 0 0 5px rgb(110, 108, 108, 0.5);
        }
        &__title {
            font-size: large;
            color: var(--text-content-title);
            font-weight: bold;
            font-family: japanese_font;
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 15px;
            margin-left: -40px;
        }

        &__detail {
            line-height: 1.5;
            min-width: 400px;
            text-align: justify;
            font-family: japanese_font;
        }
    }
}
