@use "../abstracts";

.sidenav {
    &__list {
        margin: 100px 0px;
        width: 80%;
        @include abstracts.screen(lg) {
            margin-top: 50px;
            margin-bottom: 0;
            width: 100%;
        }

        &-group {
            display: inline-block;
            padding: 20px 20px;
            font-size: 2.4rem;
            color: #333;
            font-weight: 400;
        }

        &-item:hover {
            color: var(--color-primary);
            background-color: #dedede;
        }

        & a {
            display: block;
            white-space: nowrap;
            padding: 13px 20px;
            // font-weight: 300;
            font-size: larger;
        }
    }
}
