.sidenav {
    &__list {
        margin: 50px 25px;
    }
    &__list-item {
        display: flex;
        flex-direction: column;
        height: 70px;
        white-space: nowrap;
        gap: 30px;
    }
}
