.special {
    position: relative;

    &-intro__title {
        width: 700px;
        max-width: 60%;
        height: auto;
        background-color: #0b2a7077;
        overflow: hidden;
        padding: 30px 10px;
        margin: auto;
        position: absolute;
        top: 150px;
        left: 150px;
        z-index: 1;
        border-radius: 20px;
    }

    &__thumb {
        width: 100vw;
        height: 700px;
        object-fit: cover;
    }
}
