.table {
    &-history {
        & table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        &__row {
            border-top: 1px solid rgb(114, 113, 113);

            &:last-child {
                border-bottom: 1px solid rgb(114, 113, 113);
            }

            &-col {
                background: #fff;
            }
        }
    }

    &-kitting {
        border: 1px solid #e2e2f9;

        & tr td:first-child {
            width: 25%;
            padding: 0 5px;
            text-align: center;
            font-weight: bolder;
        }
    }
}
