.company-info {
    margin: 100px 0px;
    width: 80%;

    &__title {
        font-size: 2.4rem;
        font-weight: 500;
    }

    &__row {
        height: 40px;

        &:nth-child(odd) {
            background: var(--color-basic-bg);
        }

        &-col {
            text-align: center;
        }
    }
}
