.table {
    &-history {
        & table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        &__row {
            border-top: 1px solid rgb(114, 113, 113);

            &:last-child {
                border-bottom: 1px solid rgb(114, 113, 113);
            }

            &-col {
                background: #fff;
            }
        }
    }

    &-kitting {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1fr, 4fr);

        & tr:first-child {
            padding: px 10px;
            text-align: center;
            font-weight: bolder;
            font-size: 1.9rem;
            line-height: 3.2rem;
            background: #e2e2f9;
            border: 1px solid;
        }
    }
}
