.company-info {
    margin: 100px 0px;
    width: 100%;

    &__inner table {
        border-collapse: separate;
        border-spacing: 25px;
    }

    &__table {
        width: 100%;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 700;
        padding: 20px 0px;
        color: var(--color-primary);
    }

    &__row {
        height: 40px;
        text-indent: 10px;

        &:nth-child(odd) {
            background: var(--color-basic-bg);
        }

        &-col {
            line-height: 4.2rem;
            padding: 5px 10px;

            & a {
                text-decoration: underline;
            }
        }
    }
}

.history__table {
    & table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}
