.video-content {
    &__show {
        position: relative;
        width: 100vw;
        height: 700px;
        margin: auto;
        overflow: hidden;
        object-fit: cover;
    }

    &__title {
    }
}
