<!-- Navigation -->
<header class="header">
    <div class="navbar-pegatron">
        <div class="container">
            <div class="top-bar">
                <!-- navbar-band__main -->
                <div class="navbar-band">
                    <button class="navbar-toggle"></button>
                    <a href="" class="navbar-band navbar-band__main">
                        <img src="../assets/icons/nav-logo.png" alt="" />
                        <p class="navbar-band__title">Pegatron Japan Inc</p>
                    </a>
                </div>

                <!-- navbar-header-menu -->
                <nav class="navbar">
                    <!--nav__menu 1 -->
                    <ul class="navbar__menu js-dropdown-list">
                        <li class="navbar__dropdown">
                            <a href="#!" class="navbar-link">About</a>
                            <div class="dropdown">
                                <div class="dropdown__inner">
                                    <ul class="dropdown__menu">
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Corporate</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >History</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Corporate Philosophy</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Corporate Ethics</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Our Activities</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!--nav__menu 2 -->
                        <li class="navbar__dropdown">
                            <a href="#!" class="navbar-link">Services</a>
                            <div class="dropdown">
                                <div class="dropdown__inner">
                                    <ul class="dropdown__menu">
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Repair</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Kitting</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >LCM Service</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Parts Supply</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Refulbish</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!--nav__menu 3 -->
                        <li class="navbar__dropdown">
                            <a href="#!" class="navbar-link">Career</a>
                            <div class="dropdown">
                                <div class="dropdown__inner">
                                    <ul class="dropdown__menu">
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Our Advantages</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Open Positions</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Corporate Culture</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Welfare Programme</a
                                            >
                                        </li>
                                        <li>
                                            <a href="" class="dropdown__link"
                                                >Relevant Data</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!--nav__menu 4 -->
                        <li class="navbar__dropdown">
                            <a href="#!" class="navbar-link">Contact Us</a>
                            <div class="dropdown">
                                <div class="dropdown__inner"></div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar__menu-lang">
                        <a href="# !" class="nav-link">English</a>
                    </ul>
                </nav>

                <!-- navbar-band__service -->
                <div class="navbar-band">
                    <a href="" class="navbar-band__service">
                        <img
                            src="../assets/icons/nav-logo2.png"
                            alt=""
                            class="navbar-band__service navbar-band__logo"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
