<!-- Navigation -->
<header class="header">
    <div class="navbar-pegatron">
        <div class="container">
            <div class="top-bar">
                <!-- navbar-band__main -->
                <div class="navbar-band">
                    <button class="navbar-toggle"></button>
                    <a href="" class="navbar-band navbar-band__main">
                        <img src="../assets/icons/nav-logo.png" alt="" />
                        <p class="navbar-band__title">Pegatron Japan Inc</p>
                    </a>
                </div>

                <!-- navbar-header-menu -->

                <!-- navbar-band__service -->
                <div class="navbar-band">
                    <a href="" class="navbar-band__service">
                        <img
                            src="../assets/icons/nav-logo2.png"
                            alt=""
                            class="navbar-band__service navbar-band__logo"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
