<!-- Navigation -->
<header class="header">
    <div class="navbar-pegatron">
        <div class="container">
            <div class="top-bar">
                <!-- navbar-band__main -->
                <div class="navbar-band">
                    <button class="navbar-toggle"></button>
                    <a href="" class="navbar-band navbar-band__main">
                        <img src="../assets/icons/nav-logo.png" alt="" />
                        <p class="navbar-band__title">Pegatron Japan Inc</p>
                    </a>
                </div>

                <!-- navbar-header-menu -->
                <nav class="navbar-nav">
                    <ul class="navbar-nav__menu">
                        <li class="navbar-nav__dropdown">
                            <a href="#!" class="navbar-link">About</a>
                        </li>
                        <li class="navbar-nav__dropdown">
                            <a href="#!" class="navbar-link">Services</a>
                        </li>
                        <li class="navbar-nav__dropdown">
                            <a href="#!" class="navbar-link">Career</a>
                        </li>
                        <li class="navbar-nav__dropdown">
                            <a href="#!" class="navbar-link">Contact Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav__menu-lang">
                        <a href="# !" class="nav-link">English</a>
                    </ul>
                </nav>

                <!-- navbar-band__service -->
                <div class="navbar-band">
                    <a href="" class="navbar-band__service">
                        <img
                            src="../assets/icons/nav-logo2.png"
                            alt=""
                            class="navbar-band__logo"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
