<!-- Navigation -->
<header class="header">
    <div class="navbar-pegatron">
        <div class="container">
            <div class="navbar-top">
                <!-- navbar-band__main -->
                <div class="navbar-band">
                    <!-- <button class="navbar-toggle"></button> -->
                    <a
                        href="./index.html"
                        class="navbar-band navbar-band__main"
                    >
                        <img src="./assets/icons/nav-logo.png" alt="" />
                        <p class="navbar-band__title">Pegatron Japan Inc</p>
                    </a>
                </div>

                <!-- Navbar-PC-menu -->
                <nav class="navbar">
                    <ul id="pc-nav" class="navbar__menu js-dropdown-list">
                        <!--nav__menu 1 -->
                        <li class="navbar__dropdown">
                            <a href="#!" class="navbar-link">About</a>
                            <div class="dropdown">
                                <div class="dropdown__inner">
                                    <ul class="dropdown__menu">
                                        <li>
                                            <a
                                                href="./about-co-info.html"
                                                class="dropdown__link"
                                                >Corporate Profile</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./about-history.html"
                                                class="dropdown__link"
                                                >History</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./about-co-philosophy.html"
                                                class="dropdown__link"
                                                >Corporate Philosophy</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./about-co-ethics.html"
                                                class="dropdown__link"
                                                >Corporate Ethics</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./about-our-activities.html"
                                                class="dropdown__link"
                                                >Our Activities</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!--nav__menu 2 -->
                        <li class="navbar__dropdown">
                            <a href="#!" class="navbar-link">Services</a>
                            <div class="dropdown">
                                <div class="dropdown__inner">
                                    <ul class="dropdown__menu">
                                        <li>
                                            <a
                                                href="./services-repair.html"
                                                class="dropdown__link"
                                                >Repair</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./service-kitting.html"
                                                class="dropdown__link"
                                                >Kitting</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./service-LCM.html"
                                                class="dropdown__link"
                                                >LCM Service</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./service-parts-supply.html"
                                                class="dropdown__link"
                                                >Parts Supply</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./service-refurbish.html"
                                                class="dropdown__link"
                                                >Refulbish</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!--nav__menu 3 -->
                        <li class="navbar__dropdown">
                            <a href="#!" class="navbar-link">Career</a>
                            <div class="dropdown">
                                <div class="dropdown__inner">
                                    <ul class="dropdown__menu">
                                        <li>
                                            <a
                                                href="./career-our-advantage.html"
                                                class="dropdown__link"
                                                >Our Advantages</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./career-open-positions.html"
                                                class="dropdown__link"
                                                >Open Positions</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./career-co-culture.html"
                                                class="dropdown__link"
                                                >Corporate Culture</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./career-welfare-pro.html"
                                                class="dropdown__link"
                                                >Welfare Programme</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./career-relevant-data.html"
                                                class="dropdown__link"
                                                >Relevant Data</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <!--nav__menu 4 -->
                        <li class="navbar__dropdown">
                            <a href="#!" class="navbar-link">Contact Us</a>
                            <div class="dropdown">
                                <div class="dropdown__inner">
                                    <ul class="dropdown__menu">
                                        <li>
                                            <a
                                                href="./contact-us.html"
                                                class="dropdown__link"
                                            >
                                                <img
                                                    src="./assets/icons/contact-us.png"
                                                    alt=""
                                                />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar__menu-lang">
                        <a href="#!" class="navbar-lang"
                            >English
                            <span class="navbar__dropdown-arr">
                                <img
                                    src="./assets/icons/dropdown_icon.png"
                                    alt=""
                                    class="navbar__dropdown-arr__icon"
                                />
                            </span>
                        </a>
                        <ul class="navbar__menu-item dropdown">
                            <li>
                                <a href="#!" class="nav-link current-active"
                                    >English</a
                                >
                            </li>
                            <li>
                                <a href="#!" class="nav-link">Japanese</a>
                            </li>
                            <li>
                                <a href="#!" class="nav-link">繁體中文</a>
                            </li>
                            <li>
                                <a href="#!" class="nav-link">簡體中文</a>
                            </li>
                            <li>
                                <a href="#!" class="nav-link">Vietnamese</a>
                            </li>
                        </ul>
                    </ul>
                </nav>

                <!-- navbar-band__service -->
                <div class="navbar-band">
                    <a href="" class="navbar-band__service">
                        <img
                            src="./assets/icons/nav-logo2.png"
                            alt=""
                            class="navbar-band__service navbar-band__logo"
                        />
                    </a>
                </div>

                <!-- Navbar-Tablet/mobile-menu -->
                <div class="toggle__menu">
                    <img
                        src="./assets/icons/toggle-menu-open.png"
                        alt=""
                        class="toggle__icon"
                    />

                    <!-- Menu content -->
                    <div class="toggle__menu--drawer">
                        <nav class="navbar toggle__menu--navbar">
                            <ul id="mobile-nav" class="navbar__menu">
                                <!--nav__menu 1 -->
                                <li class="navbar__dropdown click-on-mobile">
                                    <a href="#!" class="navbar-link">About</a>

                                    <ul
                                        class="dropdown__menu show-on-mobile hidden"
                                    >
                                        <li>
                                            <a
                                                href="./about-co-info.html"
                                                class="dropdown__link"
                                                >Corporate Profile</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./about-history.html"
                                                class="dropdown__link"
                                                >History</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./about-co-philosophy.html"
                                                class="dropdown__link"
                                                >Corporate Philosophy</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./about-co-ethics.html"
                                                class="dropdown__link"
                                                >Corporate Ethics</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./about-our-activities.html"
                                                class="dropdown__link"
                                                >Our Activities</a
                                            >
                                        </li>
                                    </ul>
                                </li>

                                <!--nav__menu 2 -->
                                <li class="navbar__dropdown click-on-mobile">
                                    <a href="#!" class="navbar-link"
                                        >Services</a
                                    >

                                    <ul
                                        class="dropdown__menu show-on-mobile hidden"
                                    >
                                        <li>
                                            <a
                                                href="./services-repair.html"
                                                class="dropdown__link"
                                                >Repair</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./service-kitting.html"
                                                class="dropdown__link"
                                                >Kitting</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./service-LCM.html"
                                                class="dropdown__link"
                                                >LCM Service</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./service-parts-supply.html"
                                                class="dropdown__link"
                                                >Parts Supply</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./service-refurbish.html"
                                                class="dropdown__link"
                                                >Refulbish</a
                                            >
                                        </li>
                                    </ul>
                                </li>

                                <!--nav__menu 3 -->
                                <li class="navbar__dropdown click-on-mobile">
                                    <a href="#!" class="navbar-link">Career</a>

                                    <ul
                                        class="dropdown__menu show-on-mobile hidden"
                                    >
                                        <li>
                                            <a
                                                href="./career-our-advantage.html"
                                                class="dropdown__link"
                                                >Our Advantages</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./career-open-positions.html"
                                                class="dropdown__link"
                                                >Open Positions</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./career-co-culture.html"
                                                class="dropdown__link"
                                                >Corporate Culture</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./career-welfare-pro.html"
                                                class="dropdown__link"
                                                >Welfare Programme</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="./career-relevant-data.html"
                                                class="dropdown__link"
                                                >Relevant Data</a
                                            >
                                        </li>
                                    </ul>
                                </li>

                                <!--nav__menu 4 -->
                                <li class="navbar__dropdown click-on-mobile">
                                    <a href="#!" class="navbar-link"
                                        >Contact Us</a
                                    >

                                    <ul
                                        class="dropdown__menu show-on-mobile hidden"
                                    >
                                        <li>
                                            <a
                                                href="./contact-us.html"
                                                class="dropdown__link"
                                            >
                                                <img
                                                    src="./assets/icons/contact-us.png"
                                                    alt=""
                                                />
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <!-- Menu Lang -->
                            <ul class="navbar__menu-lang on-mobile-lang">
                                <a href="#!" class="navbar-lang"
                                    >English
                                    <span class="navbar__dropdown-arr"></span>
                                </a>
                                <ul class="navbar__menu-item on-mobile hidden">
                                    <li>
                                        <a
                                            href="#!"
                                            class="nav-link current-active"
                                            >English</a
                                        >
                                    </li>
                                    <li>
                                        <a href="#!" class="nav-link"
                                            >Japanese</a
                                        >
                                    </li>
                                </ul>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
