<div class="sidenav">
    <div class="sidenav__list">
        <span class="sidenav__list-group">Career</span>
        <ul>
            <li class="sidenav__list-item">
                <a href="career/open-positions.html" class="sidenav-item__link">
                    Open Positions
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="jobs/job-01.html" class="sidenav-item__link">Job 01</a>
            </li>
            <li class="sidenav__list-item">
                <a href="jobs/job-02.html" class="sidenav-item__link">Job 02</a>
            </li>
            <li class="sidenav__list-item">
                <a href="jobs/job-03.html" class="sidenav-item__link">Job 03</a>
            </li>
            <li class="sidenav__list-item">
                <a href="jobs/job-04.html" class="sidenav-item__link">Job 04</a>
            </li>
            <li class="sidenav__list-item">
                <a href="jobs/job-05.html" class="sidenav-item__link">Job 05</a>
            </li>
            <li class="sidenav__list-item">
                <a href="jobs/job-06.html" class="sidenav-item__link">Job 06</a>
            </li>
            <li class="sidenav__list-item">
                <a href="jobs/job-07.html" class="sidenav-item__link">Job 07</a>
            </li>
            <li class="sidenav__list-item">
                <a href="jobs/job-08.html" class="sidenav-item__link">Job 08</a>
            </li>
        </ul>
    </div>
</div>
