<div class="sidenav">
    <div class="sidenav__list">
        <span class="sidenav__list-group">Career</span>
        <ul>
            <li class="sidenav__list-item">
                <a href="career/our-advantage.html" class="sidenav-item__link">
                    Our Advantages
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="career/open-positions.html" class="sidenav-item__link">
                    Open Positions
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="career/co-culture.html" class="sidenav-item__link">
                    Corporate Culture
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="career/welfare-pro.html" class="sidenav-item__link">
                    Welfare Programme
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="career/relevant-data.html" class="sidenav-item__link">
                    Relevant Data
                </a>
            </li>
        </ul>
    </div>
</div>
