<div class="sidenav">
    <div class="sidenav__list">
        <span class="sidenav__list-group">Services</span>
        <ul>
            <li class="sidenav__list-item">
                <a href="services/repair.html" class="sidenav-item__link">
                    Repair
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="services/kitting.html" class="sidenav-item__link">
                    Kitting
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="services/lcm.html" class="sidenav-item__link">
                    LCM service
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="services/parts-supply.html" class="sidenav-item__link">
                    Parts Supply
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="services/refurbish.html" class="sidenav-item__link">
                    Refurbish
                </a>
            </li>
        </ul>
    </div>
</div>
