<div class="sidenav">
    <div class="sidenav__list">
        <span class="sidenav__list-group">About</span>
        <ul>
            <li class="sidenav__list-item">
                <a href="about/co-info.html" class="sidenav-item__link">
                    Corporate Profile
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="about/history.html" class="sidenav-item__link">
                    History
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="about/co-philosophy.html" class="sidenav-item__link">
                    Corporate Philosophy
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="about/co-ethics.html" class="sidenav-item__link">
                    Corporate Ethics
                </a>
            </li>
            <li class="sidenav__list-item">
                <a href="about/our-activities.html" class="sidenav-item__link">
                    Our Activities
                </a>
            </li>
        </ul>
    </div>
</div>
