.content {
    &-title {
        margin-bottom: 20px;
    }

    & p {
        font-size: 1.7rem;
        line-height: 1.9;
        text-align: justify;
    }

    &-table {
        width: 70%;
        margin-top: 30px;
        padding: 5px 100px;
        line-height: 4.2rem;

        & a {
            text-decoration: underline;
        }
    }
}
