.footer {
    padding: 60px 0;

    &__inner {
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__heading {
        font-weight: 700;
        font-size: 1.9rem;
    }

    &__link {
        line-height: 1.4;
        font-size: 16px;
        padding: 6px 0 7px 0;
        display: inline-block;

        &:hover {
            color: var(color-primary);
        }
    }
}
