.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    // transition: all 0.4s;
}

.navbar-pegatron {
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 0;
    padding: 16px;
    width: 100vw;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-lang {
        padding: 50px 0px;
    }

    &__menu {
        display: flex;
        padding-left: 170px;
        color: #303030;

        &-lang {
            margin-right: 75px;
            padding: 50px 0px;
        }

        &-lang:hover .dropdown {
            display: block;
        }
    }

    &__dropdown:hover .dropdown {
        display: block;
    }

    &-link {
        padding: 35px 25px;
    }
}

.navbar-band {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &__service {
        width: 150px;
        height: 30px;
    }
}
