.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-band {
    &__service {
        display: inline-block;
        width: 200px;
        height: 30px;
    }
}
